<div class="main-grid">
  <nav class="header mat-typography">
    <div class="container" *ngIf="lecture">
      <div class="lecture-title">{{lecture.name}}</div>
      <div class="lecture-semester">&nbsp;-&nbsp;{{lecture.semester}}</div>
      <div class="tk-title">&nbsp;-&nbsp;Telecooperation Lab</div>
    </div>
  </nav>

  <section class="body">
    <div class="container">

      <div class="course-detail">
        <div class="lecture-list">
          <div class="list" *ngIf="course && lecture">
            <h3 class="course-type">
              <span>Course</span> {{lecture.name}}
            </h3>

            <div class="thumbnail-view">
              <div class="thumb" *ngFor="let recording of lecture.recordings" [routerLink]="['/lecture', course.id, recording.id]">
                <img *ngIf="recording.slides" class="thumbnail" src="{{course.folder + '/' + recording.slides[0].thumbnail}}" />
                <h2>{{recording.name}}</h2>
                <p class="date">{{recording.date | date : 'dd.MM.yyyy'}}</p>
                <p class="duration">{{humanizeDuration(recording.duration)}}</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </section>

  <footer class="footer mat-typography">
    <div class="container">
      <p>© Telecooperation Lab at Technische Universität Darmstadt<br>
        <a href="https://www.informatik.tu-darmstadt.de/telekooperation/impressum.en.jsp">Impressum</a> - <a href="https://www.informatik.tu-darmstadt.de/telekooperation/telecooperation_group/index.en.jsp">Webseite</a> - <a href="https://www.tu-darmstadt.de/datenschutzerklaerung.de.jsp">Datenschutz</a></p>
    </div>
  </footer>

</div>
