.grid {
  display: grid;
  grid-template-columns: auto 500px 800px auto;
  grid-template-areas: 
  ". sidebar player ."
  ". footer footer .";
  max-height: 100%;
}

.sidebar {
  grid-area: sidebar;
}

.player {
  grid-area: player;
}

.footer {
  grid-area: footer;
  padding-top: 30px;
}

table {
  cursor: pointer;
  width: 100%;
}

tr:hover {
  background-color: #eeeeee;
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "player"
    "sidebar"
    "footer";
  }

  .lecture-semester {
    display: none;
  }
}