.page-wrapper {
  display: block;
}

.sidebar {
  min-width: 35em;
  max-width: 35em;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 40px;
  z-index: 9999;
  overflow: hidden;
}

.sidebar-scroll {
  overflow-y: scroll;
  height: 100%;
  padding: 25px;
}

.player {
  margin-left: 35em;
  height: 100%;
}