<div class="main-grid">
  <header>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <div class="lecture-title">{{lecture.name}}</div>
        <div class="lecture-semester">&nbsp;-&nbsp;{{lecture.semester}}</div>
        <div class="tk-title">&nbsp;-&nbsp;Telecooperation Lab</div>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <section class="notice" *ngIf="lecture.notice">
    <p><b>Notice: </b>{{lecture.notice}}</p>
  </section>

  <section class="videolist">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.processing"><mat-spinner diameter="24"></mat-spinner></span>
          <span *ngIf="!element.processing">{{element.date | date : 'dd.MM.yyyy HH:mm'}} </span>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)" [class.active]="row.active"></tr>
    </table>
  </section>

  <section class="videoplayer">
    <mat-video [autoplay]="false" [preload]="true" [fullscreen]="true" [download]="false" color="accent" spinner="spin" style="height: 500px">
      <source matVideoSource [src]="selectedRecording.fileName" type="video/mp4">
    </mat-video>
  </section>

  <footer class="footer mat-typography">
    <p>© Telecooperation Lab at Technische Universität Darmstadt<br>
      <a href="https://www.informatik.tu-darmstadt.de/telekooperation/impressum.en.jsp">Impressum</a> - <a href="https://www.informatik.tu-darmstadt.de/telekooperation/telecooperation_group/index.en.jsp">Webseite</a> - <a href="https://www.tu-darmstadt.de/datenschutzerklaerung.de.jsp">Datenschutz</a></p>
  </footer>

</div>
