.page-wrapper {
  display: block;
}

.sidebar {
  min-width: 35%;
  max-width: 35%;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 40px;
  z-index: 9999;
  overflow: hidden;
}

.sidebar-scroll {
  overflow-y: scroll;
  height: 100%;
  padding: 25px;
}

.player {
  margin-left: 38%;
  width: 58%;
}

@media (max-width: 768px) {
  .sidebar {
    position: relative;
    top: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    margin-top: 15px;
  }

  .sidebar-scroll {
    overflow-y: scroll;
    height: 250px;
    padding: 0;
  }

  .player {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 45px;
  }
}