<div class="main-grid">
  <nav class="header mat-typography">
    <div class="container">
      Telecooperation Lab - Lecture recordings
    </div>
  </nav>

  <section class="body">
    <div class="container">
      <h3 class="course-type"><span>Current Courses</span></h3>
      
      <table mat-table [dataSource]="currentCoursesSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Course</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="semester">
          <th mat-header-cell *matHeaderCellDef>Term</th>
          <td mat-cell *matCellDef="let element">{{element.semester}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/lecture', row.id]" [class.active]="row.active"></tr>
      </table>

      <h3 class="course-type"><span>Previous Courses</span></h3>
      
      <table mat-table [dataSource]="previousCoursesSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Course</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="semester">
          <th mat-header-cell *matHeaderCellDef>Term</th>
          <td mat-cell *matCellDef="let element">{{element.semester}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/lecture', row.id]" [class.active]="row.active"></tr>
      </table>
    </div>
  </section>

  <footer class="footer mat-typography">
    <div class="container">
      <p>© Telecooperation Lab at Technische Universität Darmstadt<br>
        <a href="https://www.informatik.tu-darmstadt.de/telekooperation/impressum.en.jsp">Impressum</a> - <a href="https://www.informatik.tu-darmstadt.de/telekooperation/telecooperation_group/index.en.jsp">Webseite</a> - <a href="https://www.tu-darmstadt.de/datenschutzerklaerung.de.jsp">Datenschutz</a></p>
    </div>
  </footer>
</div>  