<div class="main-grid">
    <nav class="header mat-typography">
      <div class="container" *ngIf="lecture">
        <div class="lecture-title">{{lecture.name}}</div>
        <div class="lecture-semester">&nbsp;-&nbsp;{{lecture.semester}}</div>
        <div class="tk-title">&nbsp;-&nbsp;Telecooperation Lab</div>
      </div>
    </nav>
  
    <section class="body">
      <div class="container">

        <div class="lecture-view">
          <div class="primary">
            <div class="lecture-player">
              <video-player #videoplayer></video-player>
            </div>
          </div>

          <div class="details-box">
            <div class="info" *ngIf="selectedRecording">
              <h1 class="title">{{selectedRecording.name}}</h1>
              <div class="course" [routerLink]="['/lecture', course.id]">{{course.name}}</div>
              <div class="info-box">
                <div class="date">{{selectedRecording.date | date : 'dd.MM.yyyy'}}</div>
                <div class="duration" *ngIf="selectedRecording.duration">
                  <span class="dot">•</span>
                  <span>Duration: {{humanizeDuration(selectedRecording.duration)}}</span></div>
              </div>
            </div>
            <div class="lecture-search" *ngIf="selectedRecording && selectedRecording.slides">
              <mat-form-field style="width: 100%">
                <mat-label>Search keyword in slide set</mat-label>
                <input matInput [formControl]="searchText" (input)="onSearchTextChange()" placeholder="keyword">
              </mat-form-field>
    
              <div class="search-list">
                <div class="item" *ngFor="let item of searchList">
                  <img (click)="seekTo(item.startPosition)" [src]="item.thumbnail" />
                </div>
              </div>
            </div>
          </div>

          <div class="secondary" *ngIf="selectedRecording">
            <h3 class="course-type"><span>Next</span> Lectures</h3>

            <div class="related-list">
              <div *ngFor="let recording of related" class="item" [routerLink]="['/lecture', course.id, recording.id]">
                <div class="thumbnail" *ngIf="recording.slides">
                  <img src="{{course.folder + '/' + recording.slides[0].thumbnail}}" alt="{{recording.name}}" />
                </div>
                <div class="details">
                  <h2>{{recording.name}}</h2>
                  <div class="info-box">
                    <div class="course">{{course.name}}</div>
                    <div class="date">{{recording.date | date : 'dd.MM.yyyy'}}</div>
                    <div class="duration" *ngIf="recording.duration">
                      <span class="dot">•</span>
                      <span>{{humanizeDuration(recording.duration)}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <footer class="footer mat-typography">
      <div class="container">
        <p>© Telecooperation Lab at Technische Universität Darmstadt<br>
          <a href="https://www.informatik.tu-darmstadt.de/telekooperation/impressum.en.jsp">Impressum</a> - <a href="https://www.informatik.tu-darmstadt.de/telekooperation/telecooperation_group/index.en.jsp">Webseite</a> - <a href="https://www.tu-darmstadt.de/datenschutzerklaerung.de.jsp">Datenschutz</a></p>
      </div>
    </footer>
  
  </div>
  